ansicolors>=1.1.8             # output formatting
black>=22.8.0                 # file formatting
more-itertools>=9.0.0         # does what you think it does
typed-argument-parser>=1.7.2  # command-line argument parsing
